# This is the .gitignore file. It defines which files and directories should be ignored by git.


# Ignore the .doth directory, it contains local state and should not be committed to version control.
.doth/
